In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
from pprint import pprint

In [2]:
url = 'https://www.quandl.com/api/v3/datasets/BCB/7.json?api_key=2vRuu5GNchksqBdcAHzc'
response = requests.get(url).json()

In [3]:
ogdf = pd.DataFrame(response['dataset']['data'])

In [4]:
columns = {
    0: 'date',
    1: 'value'}
ogdf = ogdf.rename(columns = columns)
ogdf.head()

# dfchange = pd.DataFrame(columns = [['date', 'change']])
# dfchange

         date    value
0  2018-12-14  87449.0
1  2018-12-13  87837.0
2  2018-12-12  86977.0
3  2018-12-11  86419.0
4  2018-12-10  85914.0

In [7]:
ogdf['value'] = pd.to_numeric(ogdf['value'])
ogdf = ogdf.sort_values(by = 'date', ascending = True)
ogdf['difference'] = ogdf['value'].diff(periods = 5)
ogdf['movingaverage'] = ogdf['value'].rolling(window=5).mean()
ogdf

            date    value  difference  movingaverage
7208  1989-12-29  61615.0         NaN            NaN
7207  1990-01-02  63736.0         NaN            NaN
7206  1990-01-03  67341.0         NaN            NaN
7205  1990-01-04  71622.0         NaN            NaN
7204  1990-01-05  75638.0         NaN        67990.4
7203  1990-01-08  82315.0     20700.0        72130.4
7202  1990-01-09  86796.0     23060.0        76742.4
7201  1990-01-10  89659.0     22318.0        81206.0
7200  1990-01-11  88891.0     17269.0        84659.8
7199  1990-01-12   8779.0    -66859.0        71288.0
7198  1990-01-15   8699.0    -73616.0        56564.8
7197  1990-01-16   8810.0    -77986.0        40967.6
7196  1990-01-17   8926.0    -80733.0        24821.0
7195  1990-01-18   9643.0    -79248.0         8971.4
7194  1990-01-19  10194.0      1415.0         9254.4
7193  1990-01-22  10637.0      1938.0         9642.0
7192  1990-01-23  10591.0      1781.0         9998.2
7191  1990-01-24  10368.0      1442.0        10286.6
7190  1990-01-25  10368.0       725.0        10431.6
7189  1990-01-26  10489.0       295.0        10490.6
7188  1990-01-29  10045.0      -592.0        10372.2
7187  1990-01-30  10185.0      -406.0        10291.0
7186  1990-01-31  10049.0      -319.0        10227.2
7185  1990-02-01  10403.0        35.0        10234.2
7184  1990-02-02  11155.0       666.0        10367.4
7183  1990-02-05  11644.0      1599.0        10687.2
7182  1990-02-06  11946.0      1761.0        11039.4
7181  1990-02-07  12771.0      2722.0        11583.8
7180  1990-02-08  13682.0      3279.0        12239.6
7179  1990-02-09  14535.0      3380.0        12915.6
...          ...      ...         ...            ...
29    2018-10-31  87423.0      4360.0        85581.2
28    2018-11-01  88419.0      4336.0        86448.4
27    2018-11-05  89598.0      3879.0        87224.2
26    2018-11-06  88668.0      4872.0        88198.6
25    2018-11-07  87714.0       829.0        88364.4
24    2018-11-08  85620.0     -1803.0        88003.8
23    2018-11-09  85641.0     -2778.0        87448.2
22    2018-11-12  85524.0     -4074.0        86633.4
21    2018-11-13  84914.0     -3754.0        85882.6
20    2018-11-14  85973.0     -1741.0        85534.4
19    2018-11-16  88515.0      2895.0        86113.4
18    2018-11-19  87900.0      2259.0        86565.2
17    2018-11-21  87268.0      1744.0        86914.0
16    2018-11-22  87477.0      2563.0        87426.6
15    2018-11-23  86230.0       257.0        87478.0
14    2018-11-26  85546.0     -2969.0        86884.2
13    2018-11-27  87891.0        -9.0        86882.4
12    2018-11-28  89250.0      1982.0        87278.8
11    2018-11-29  89709.0      2232.0        87725.2
10    2018-11-30  89504.0      3274.0        88380.0
9     2018-12-03  89820.0      4274.0        89234.8
8     2018-12-04  88624.0       733.0        89381.4
7     2018-12-05  89039.0      -211.0        89339.2
6     2018-12-06  88846.0      -863.0        89166.6
5     2018-12-07  88115.0     -1389.0        88888.8
4     2018-12-10  85914.0     -3906.0        88107.6
3     2018-12-11  86419.0     -2205.0        87666.6
2     2018-12-12  86977.0     -2062.0        87254.2
1     2018-12-13  87837.0     -1009.0        87052.4
0     2018-12-14  87449.0      -666.0        86919.2

[7209 rows x 4 columns]