In [3]:
import requests
import json

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime

In [4]:
# URL for GET requests to retrieve data
urlCPI = "https://www.quandl.com/api/v3/datasets/BCB/191.json?api_key=2vRuu5GNchksqBdcAHzc"
urlBOVESPA = "https://www.quandl.com/api/v3/datasets/BCB/7.json?api_key=2vRuu5GNchksqBdcAHzc"
urlEmployment = "https://www.quandl.com/api/v3/datasets/BCB/10806.json?api_key=2vRuu5GNchksqBdcAHzc"

In [5]:
response = requests.get(urlCPI).json()
#print(json.dumps(response, indent=4, sort_keys=True))

response2 = requests.get(urlEmployment).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [8]:
data = response['dataset']['data']
CPI_df = pd.DataFrame(data)

CPI_df = CPI_df.rename(index=str, columns={0: "Month", 1: "CPI"})

CPI_df['Month'] = pd.to_datetime(CPI_df['Month'])
CPI_df['Month'] = CPI_df['Month'].dt.strftime('%m/%y')
CPI_df.head()

   Month   CPI
0  11/18 -0.17
1  10/18  0.48
2  09/18  0.45
3  08/18  0.07
4  07/18  0.17

In [9]:
data2 = response2['dataset']['data']
Emp_df = pd.DataFrame(data2)

Emp_df = Emp_df.rename(index=str, columns={0: "Month", 1: "EMP"})

Emp_df['Month'] = pd.to_datetime(Emp_df['Month'])
Emp_df['Month'] = Emp_df['Month'].dt.strftime('%m/%y')
Emp_df

     Month     EMP
0    02/16   883.0
1    01/16   957.0
2    12/15   960.0
3    11/15   938.0
4    10/15   957.0
5    09/15   968.0
6    08/15   964.0
7    07/15   992.0
8    06/15   992.0
9    05/15   973.0
10   04/15   980.0
11   03/15   953.0
12   02/15   981.0
13   01/15  1029.0
14   12/14  1018.0
15   11/14  1034.0
16   10/14  1002.0
17   09/14   980.0
18   08/14  1003.0
19   07/14  1004.0
20   06/14  1044.0
21   05/14  1036.0
22   04/14  1000.0
23   03/14  1009.0
24   02/14  1050.0
25   01/14  1044.0
26   12/13  1067.0
27   11/13  1092.0
28   10/13  1017.0
29   09/13  1010.0
..     ...     ...
143  03/04   997.0
144  02/04   978.0
145  01/04   951.0
146  12/03  1034.0
147  11/03  1003.0
148  10/03  1020.0
149  09/03  1003.0
150  08/03  1017.0
151  07/03  1023.0
152  06/03  1072.0
153  05/03  1066.0
154  04/03  1019.0
155  03/03  1077.0
156  02/03  1043.0
157  01/03  1035.0
158  12/02   863.0
159  11/02   897.0
160  10/02   925.0
161  09/02   925.0
162  08/02   930.0
163  07/02   928.0
164  06/02   929.0
165  05/02   905.0
166  04/02   892.0
167  03/02   864.0
168  02/02   747.0
169  01/02   764.0
170  12/01   722.0
171  11/01   885.0
172  10/01   917.0

[173 rows x 2 columns]